/* =============== GOOGLE FONTS =============== */
/*===== Montserrat =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');


/* =============== UPLOADED FONT =============== */
/*===== Clash Display =====*/
@import url('/asset/css/clash-display.css');



/* =============== VARIABLE CSS =============== */
:root {
  --header-height: 3rem;

  /* ========== Colors ========== */
  --first-color: hsl(266, 100%, 61%);
  --second-color: hsl(288, 99%, 60%);
  --assent-color: hsl(319, 100%, 57%);
  --lens-flare-color: hsla(288, 99%, 60%, 0.3);
  --body-color: hsl(256, 48%, 11%);
  --blur-bg-color: hsla(256, 48%, 11%, 0.9);
  --darker-body-color: hsl(256, 68%, 9%);
  --text-color: hsl(0, 0%, 100%);
  --linear-gradient: linear-gradient(90deg,var(--assent-color), var(--second-color), var(--first-color));
  --linear-gradient-hover: linear-gradient(90deg,var(--first-color), var(--second-color), var(--assent-color));


  /* ========== Fonts and typography ========== */
  --body-font: 'Montserrat', sans-serif;
  --title-font: 'ClashDisplay-Bold';
  --timer-font: 'ClashDisplay-Regular';

  /* .125rem = 2px, .25rem = 4px, .5rem = 8px, 1rem = 16px ... */
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.6rem;
  --h3-font-size: 1.25rem;
  --timer-font-size: 4rem;
  --subtitle-font-size: 1rem; 
  --normal-font-size: .875rem;
  --small-font-size: .75rem;


  /* ========== Font weight ========== */
  /* only applies to google font */
  --font-medium: 400;
  --font-bold: 700;

  /* ========== Z Index ========== */

}  



/* ========== Font size for large devices ========== */  

/* =============== BASE =============== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

h1, h2 {
  font-family: var(--title-font);
}

span {
  color: var(--second-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color)
}

img {
  max-width: 100%;
  height: auto; 
}

/* ========== REUSABLE CSS CLASSES ========== */
.section {
  padding: 4rem 2rem 4rem 8rem;
  max-height: max-content;
  max-width: 100%;
}

.horizontal__rule {
  width: 100%;
  height: 1px;
  background-color: #555;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.fading__star,
.white__star,
.purple__star {
  z-index: -5;
}

/* Keyframes */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }

}

@keyframes shake {
  0% { transform: translateX(0); } /* Start at the original position */
  25% { transform: translateX(-.5px) rotate(2deg); } /* Move left and rotate slightly */
  50% { transform: translateX(.5px) rotate(-2deg); } /* Move right and rotate slightly */
  75% { transform: translateX(-.5px) rotate(2deg); } /* Move left and rotate slightly */
  100% { transform: translateX(0); } /* Return to the original position */
}

@keyframes fadeInOut {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* ========== LAYOUT ========== */
header {
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
  /* position: fixed; */
}

.purple__lens__flare {
  width: 45%;
  height: 95%;
  opacity: 0.3;
  transform: rotate(90deg);
  z-index: -2;
}

.purple__lens__flare:first-of-type {
  position: absolute;
  top: -12rem;
  left: 8rem;
}

/* somehow using nth  of type for the purple__lens__flare class don't seem to work */

.second__flare {
  position: absolute;
  top: 2rem; 
  right: 14rem;
  z-index: -5;
}

.matrix {
  width: 50%;
  height: 45%;
  opacity: 0.7;
  z-index: -7;
  position: absolute;
  top: 15rem;
  right: 2rem;
}

/* ========== NAV MAIN ========== */
.nav {
  padding: 2rem 8rem 1rem 8rem;
}

.nav__logo {
  float: left;
}

.nav__menu {
  float: right;
}

.nav__item {
  display: inline-block;
  margin-left: 3rem;
}

.nav__link {
  padding-bottom: .5rem;
  border-radius: .25rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom .5s;
}

.nav__link:hover {
  border-bottom: 2px solid var(--first-color);
}

.nav__btn {
  display: none;
}

/* ========== STICKY NAV ========== */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--blur-bg-color);
  backdrop-filter: blur(20px);
  z-index: 100; 
}

/* ==========NAV MOBILE VIEW========== */
@media screen and (max-width: 756px) {
  .nav{
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav__logo{
    font-size: var(--h3-font-size);
  }

  .nav__menu {
    display: none;
  }

  .nav__btn {
    display: inline-block;
    font-size: 3rem;
  }

}

/* ========== HOME ========== */
.home {
  height: 110vh;
}

.hero__left {
  float: left;
}

.hero__right {
  float: right;
}

.hero__img {
  width: 45%;
  height: auto;
  position: absolute;
  top: 12rem;
  right: .5rem;
  z-index: -5;
  filter: grayscale(100%);
}

.title__img {
  width: 90%;
  height: auto;
}

.hero__subtitle {
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  font-style: italic;
  position: absolute;
  top: 6.5rem;
  right: 5rem;
  z-index: -6;
}

.underline__vector {
  width: 14%;
  position: absolute;
  top: 8.2rem;
  right: 5rem;
  z-index: -6;
}

.hero__text {
  font-size: var(--hero-text-font-size);
  line-height: 2rem;
}

.hero__btn {
  margin-top: 2.5rem;
}

.blue__img__effect {
  width: 41%;
  height: auto;
  z-index: -4;
  position: absolute;
  top: 10rem;
  right: 2.5rem;
  opacity: .75;
  filter: hue-rotate(355deg); /* i'm just learning bout this filter property today */
  animation: rotate 100s linear infinite;  /* rotate blue image */
  
}

.countdown {
  font-size: var(--timer-font-size);
  justify-content: center;
  margin-top: 4rem;
}

.timer {
  text-align: center;
}

.timer__text__container {
  margin-left: 1rem;
  align-items: center;
}

.timer__text {
  border-radius: 5px;
  font-family: var(--timer-font);
}

.timer__unit {
  font-size: var(--small-font-size);
  padding-top: 2rem;
}

.home__star1 {
  position: relative;
  top: -2rem;
  left: -40rem;
  width: 1.4%;
  animation: fadeInOut 4s ease-in-out infinite;
}

.home__star2 {
  position: relative;
  top: 1rem;
  left: -10rem;
  width: 1.4%;
  animation: fadeInOut 6s ease-in-out infinite;
}

.home__star3 {
  position: relative;
  top: 25rem;
  left: -20rem;
  width: 1.3%;
  animation: fadeInOut 5s ease-in-out infinite;
}


@media only screen and (max-width: 756px) {

}

/* ========== BUTTONS ========== */
.btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: var(--font-medium);
  background: var(--linear-gradient);
  border-radius: .125rem;
  transition: background 1s;
}

.btn:hover {
  background: var(--first-color);
}

/* ========== INTRODUCTION ========== */
.introduction {
  height: 100vh;
  padding: 3rem 5rem;
  grid-template-columns: 1fr 1fr;
}

.intro__img__container {
  width : 75%;
}

.intro__img {
  width: 100%;
  margin: 2rem 7rem;
  animation: shake 5s ease-in-out;
  animation-iteration-count: infinite; 
  animation-delay: 10s;
}

.intro__img__star {
  position: relative;
  top: -30rem;
  right: 2rem;
}

.arrow__svg {
  position: relative;
  left: 33rem;
  top: -5.5rem;
}

.intro__text__container {
  padding: 8rem .5rem 8rem 6rem;
}

.introduction__title {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  margin: 2rem 0;
}

.introduction__description {
  line-height: 1.7rem;
}

.intro__text__star {
  position: relative;
  top: -14rem;
  left: 25rem;
}

/* ========== RULES ========== */
.rules {
  height: 100vh;
  padding: 1rem 5rem;
  grid-template-columns: 1fr 1fr; 
}

.rules__img__container {
  width: 95%;
}

.rules__img {
  width: 100%;
  margin: 1rem 5rem;
}

.rules__img__star {
  position: absolute;
  top: 110rem;
  right: 37rem;
  animation: fadeInOut 10s ease-in-out infinite;
  animation-delay: 5s;
}

.rules__text__container {
  padding: 8rem 2rem 4rem 7rem;
}

.rules__title {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  margin: 2rem 0;
}

.rules__description {
  line-height: 1.7rem;
}

.rules__text__star {
  position: absolute;
  top: 94rem;
  left: 25rem;
  animation: fadeInOut 10s ease-in-out infinite;
}

.third__flare {
  position: absolute;
  top: 65rem;
  left: 4rem;
  height: 90%;
  width: 50%;
  z-index: -10;
}

.forth__flare {
  position: absolute;
  top: 95rem;
  right: -15rem;
  height: 40%;
  width: 40%;
  z-index: -10;
}

/* ========== CRITERIA ========== */
.criteria {
  height: 135vh;
  padding: 4rem 3rem 1rem 4rem;
  grid-template-columns: 1fr 1fr; 
}

.criteria__img__container {
  width: 97%;
}

.gradient__blob {
  width: 8rem;
  height: 8rem;
  background: var(--linear-gradient);
  position: absolute;
  top: 131rem;
  left: 10rem;
  z-index: -10;
  border-radius: 50%;
  background-size: 300% 200%;
  animation: moveGradient 20s linear infinite;
}

.criteria__img {
  width: 100%;
  margin: 8rem 2rem 1rem 1rem;
}

.criteria__img__star1 {
  position: absolute;
  top: 127rem;
  left: 14rem;
}

.criteria__img__star2 {
  position: absolute;
  top: 147rem;
  left: 26rem;
  width: 1.2%;
}

.criteria__img__star3 {
  position: absolute;
  top: 159rem;
  left: 39rem;
  width: 1.5%;
}

.criteria__text__container {
  padding: 0 2rem 0 7rem;
}

.criteria__title {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}

.criteria__description {
  line-height: 1.5rem;
  padding-top: .7rem;
  font-size: var(--small-font-size);
}

.criteria__subheading {
  font-weight: var(--font-bold);
}

.criteria__btn {
  margin-top: 2rem;
}

.criteria__text__star {
  position: absolute;
  top: 94rem;
  left: 25rem;
  animation: fadeInOut 10s ease-in-out infinite;
}

.fifth__flare {
  position: absolute;
  top: 130rem;
  left: -7rem;
}

/* ========== FAQS ========== */
.faqs {
  height: 125vh;
  padding: 1rem 5rem;
  grid-template-columns: 1fr 1fr; 
}

.faqs__img__container {
  width: 85%;
}

.faqs__img {
  width: 100%;
  margin: 8rem 2rem;
  padding-right: 5rem;
}

.faqs__img__star1 {
  position: absolute;
  top: 212rem;
  right: 16rem;
  width: 1.4%;
}

.faqs__img__star2 {
  position: absolute;
  top: 175rem;
  right: 23rem;
  width: 1.3%;
}

.faqs__img__star3 {
  position: absolute;
  top: 185rem;
  right: 34rem;
  width: 1.1%;
}

.faqs__img__star4 {
  position: absolute;
  top: 196rem;
  right: 37rem;
  width: 1.3%;
}

.question__mark__image1 {
  position: absolute;
  top: 174rem;
  right: 26rem;
  animation: shake 5s ease-in-out;
  animation-iteration-count: infinite; 
  animation-delay: 10s;
}

.question__mark__image2 {
  position: absolute;
  top: 178rem;
  right: 20rem;
  width: 2%;
  animation: shake 8s ease-in-out;
  animation-iteration-count: infinite; 
  animation-delay: 10s;
}

.question__mark__image3 {
  position: absolute;
  top: 177rem;
  right: 33rem;
  width: 2.2%;
  animation: shake 10s ease-in-out;
  animation-iteration-count: infinite; 
  animation-delay: 10s;
}

.faqs__text__container {
  padding: 8rem 6rem 4rem 7rem;
}

.faqs__title {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  margin: 2rem 0;
}

.faqs__description {
  line-height: 1.7rem;
  margin-bottom: 3rem;
}

.faqs__text__star {
  position: absolute;
  top: 178rem;
  left: 11rem;
}

.faqs__question__container {
  margin-top: 1rem;
  margin-bottom: .5rem;
  justify-content: space-between;
}

.faqs__question {
  font-size: var(--small-font-size);
}

.faqs__hr {
  background-color: var(--second-color);
}

.faqs__icons {
  width: 1rem;
  color: var(--second-color);
}

.plus__icon {
  width: 4%;
}

.sixth__flare {
  position: absolute;
  top: 149rem;
  right: -2rem;
}

/* ========== TIMELINE ========== */
.timeline {
  height: 145vh;
  padding: 5rem 16rem;
}

.timeline__header {
  width: 45%;
  margin: .5rem auto;
  text-align: center;
}

.timeline__container {
  width: 90%;
  margin: 3rem auto;
}

.timeline__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 3rem;
  align-items: center;
}

.timeline__task {
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  grid-template-rows: auto auto; /* 2 rows with automatic sizing */
  gap: 5px; /* Adjust the gap as needed */
  font-size: var(--small-font-size);
}

.timeline__title {
  color: var(--second-color);
}

.timeline__text__left {
  text-align: end;
}

.start__align {
  justify-self: start;
}

.end__align {
  justify-self: end;
}

.line__rounder__container {
  position: relative;
}

.timeline__rounder {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 2rem auto;
  padding-top: .4rem;
  border-radius: 50%;
  background: var(--linear-gradient);
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: var(--font-bold);
}

.timeline__line {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 3px;
  height: 25%;
  /* padding: 2rem 0; */
  background-color: var(--second-color);
  transform: translateX(-50%) scaleY(1.3);
}

.timeline__star1 {
  position: absolute;
  top: 241rem;
  right: 25rem;
  width: 1.1%;
}

.timeline__star2 {
  position: absolute;
  top: 226rem;
  left: 25rem;
  width: 1.2%;
}

.timeline__star3 {
  position: absolute;
  top: 260rem;
  left: 19rem;
  width: 1.2%;
}

/* ========== PRIZES ========== */
.prize {
  grid-template-columns: 40% 60%;
  background-color: var(--darker-body-color);
  column-gap: 2rem;
  height: 130vh;
}

.prize__cup__img__container {
  width: 85%;
  margin: 11rem 2rem 2rem 2rem;
  z-index: 3;
}

.prize__cup__img {
  width: 100%;
  animation: shake 5s ease-in-out;
  animation-iteration-count: infinite; 
  animation-delay: 10s;
}

.prize__header {
  margin: 1rem 6rem;
  width: 50%;
}

.prize__title {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  margin: 1rem 0;
}

.prize__reward__img__container {
  width: 80%;
  margin: 3rem .5rem 0 .5rem;
}

.prize__left__star1 {
  position: absolute;
  top: 303rem;
  left: 32rem;
  width: 1.2%;
}

.prize__left__star2 {
  position: absolute;
  top: 310rem;
  left: 20rem;
  width: 0.8%;
}

.prize__left__star3 {
  position: absolute;
  top: 279rem;
  left: 20rem;
  width: 1.1%;
}

.prize__right__star1 {
  position: absolute;
  top: 291rem;
  right: 10rem;
  width: 1.2%;
}

.prize__right__star2 {
  position: absolute;
  top: 285rem;
  right: 40rem;
  width: 1.2%;
}

.prize__right__star3 {
  position: absolute;
  top: 312rem;
  right: 19rem;
  width: 1.2%;
}

.seventh__flare {
  position: absolute;
  top: 268rem;
  left: 4rem;
  z-index: 2;
}

.eight__flare {
  position: absolute;
  top: 278rem;
  right: -16rem;
  z-index: 2;
}

.partners {
  padding: 2rem;
}

.partners__header {
  width: 40%;
  margin: 2rem auto;
  text-align: center;
}

.partners__heading {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.partners__subtext {
  line-height: 1.5rem;
}

.partners__img__container {
  width: 80%;
  margin: 3rem auto;
}

.partners__star1 {
  position: absolute;
  top: 353rem;
  right: 38rem;
  width: 1.2%;
}

.partners__star2 {
  position: absolute;
  top: 336rem;
  right: 38rem;
  width: .9%;
}

.partners__star3 {
  position: absolute;
  top: 328rem;
  left: 15rem;
  width: 1.3%;
}


.ninth__flare {
  position: absolute;
  top: 310rem;
  left: -8rem;
}

.tenth__flare {
  position: absolute;
  top: 333rem;
  right: -8rem;
}

/* ========== POLICY ========== */
.policy {
  grid-template-columns: 1fr 1fr;
  padding: 4rem 6rem 6rem 14rem;
  column-gap: 2rem;
  line-height: 1.5rem;
  font-size: var(--small-font-size);
}

.policy__text__container {
  width: 70%;
  margin-top: 3rem;
}

.policy__title {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  margin-bottom: 1.2rem;
}

.policy__subtitle {
  color: #888;
  margin-bottom: 1rem;
}

.policy__text {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.policy__terms__container {
  border: 1px solid var(--second-color);
  width: 80%;
  padding: 2rem 1rem 2rem 3rem;
  border-radius: .3rem;
}

.policy__terms__heading {
  color: var(--second-color);
  font-size: var(--subtitle-font-size);
  margin-top: 1rem;
}

.policy__terms__subheading {
  font-size: var(--small-font-size);
  margin: .5rem 0;
}

.license__policy__item {
  align-items: start;
  margin-top: 1rem;
}

.green__mark__icon {
  width: 3.5%;
  margin-top: .3rem;
}

.license__policy__text {
  margin-left: .7rem;
}

.policy__background__img__container {
  position: absolute;
  width: 30%;
  z-index: -5;
}

.policy__img__container {
  width: 90%;
  margin-top: 9rem;
  position: relative;
  right: 4rem;
}

.policy__btn__container {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.policy__text__star1 {
  position: absolute;
  top: 370rem;
  left: 30rem;
  width: 1.2%;
}

.policy__text__star2 {
  position: absolute;
  top: 376rem;
  left: 38rem;
  width: 1.1%;
}

.policy__text__star3 {
  position: absolute;
  top: 407rem;
  left: 8rem;
  width: 1.2%;
}

.policy__img__star1 {
  position: absolute;
  top: 377rem;
  right: 18rem;
  width: .8%;
}

.policy__img__star2 {
  position: absolute;
  top: 397rem;
  right: 30rem;
  width: .8%;
}

.policy__img__star3 {
  position: absolute;
  top: 401rem;
  right: 33rem;
  width: .9%;
}

.policy__img__star4 {
  position: absolute;
  top: 405rem;
  right: 10rem;
  width: .9%;
}

.eleventh__flare {
  position: absolute;
  top: 419rem;
  left: 22rem;
  z-index: 5;
}

/* ========== FOOTER ========== */
.footer {
  background-color: var(--darker-body-color);
  padding: 4rem 3rem 3rem 12rem;
  font-size: var(--small-font-size);
}

.footer__container {
  grid-template-columns: 50% 25% 25%;
  column-gap: 2rem;
}

.company {
  width: 70%;
}

/* .footer__logo {
  width: 10%;
} */

.about__company {
  margin: .5rem 0 4.5rem 0;
  line-height: 1.2rem;
}

.links__title {
  font-size: var(--subtitle-font-size);
  font-weight: var(--font-bold);
  color: var(--second-color); 
}

.links__item {
  padding: 1.5rem;
  font-weight: var(--font-bold);
}

.socials__title {
  margin-top: .5rem;
  font-weight: var(--font-bold);
  color: var(--second-color);
}

.contact__us__title {
  font-size: var(--subtitle-font-size);
  font-weight: var(--font-bold);
  color: var(--second-color);
}

.contact__us__item {
  margin-top: 1rem;
}

.contact__us__item p {
  margin-left: .5rem;
}

.socials__icon {
  width: 5%;
  margin-left: .5rem;
}

.footer__star1 {
  position: relative;
  top: -10rem;
  left: -3rem;
  width: 1.2%;
}

.footer__star2 {
  position: relative;
  top: -2rem;
  left: 30rem;
  width: 1.1%;
}

.footer__star3 {
  position: relative;
  top: -5rem;
  right: -63rem;
  width: 1.1%;
}

.footer__star4 {
  position: relative;
  top: -12rem;
  right: -48rem;
  width: .9%;
}