/* =============== GOOGLE FONTS =============== */
/*===== Montserrat =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');


/* =============== UPLOADED FONT =============== */
/*===== Clash Display =====*/
@import url('/asset/css/clash-display.css');



/* =============== VARIABLE CSS =============== */
:root {
  --header-height: 3rem;

  /* ========== Colors ========== */
  --first-color: hsl(266, 100%, 61%);
  --second-color: hsl(288, 99%, 60%);
  --assent-color: hsl(319, 100%, 57%);
  --lens-flare-color: hsla(288, 99%, 60%, 0.3);
  --body-color: hsl(256, 48%, 11%);
  --text-color: hsl(0, 0%, 100%);
  --linear-gradient: linear-gradient(90deg,var(--assent-color), var(--second-color), var(--first-color));
  --linear-gradient-hover: linear-gradient(90deg,var(--first-color), var(--second-color), var(--assent-color));


  /* ========== Fonts and typography ========== */
  --body-font: 'Montserrat', sans-serif;
  --title-font: 'ClashDisplay-Bold';
  --timer-font: 'ClashDisplay-Regular';

  /* .125rem = 2px, .25rem = 4px, .5rem = 8px, 1rem = 16px ... */
  --h1-font-size: 2.25rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --timer-font-size: 4rem;
  --hero-text-font-size: 1.25rem;
  --normal-font-size: .875rem;
  --small-font-size: .75rem;


  /* ========== Font weight ========== */
  /* only applies to google font */
  --font-medium: 400;
  --font-bold: 700;

  /* ========== Z Index ========== */

}  



/* ========== Font size for large devices ========== */  

/* =============== BASE =============== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

h1, h2 {
  font-family: var(--title-font);
}

span {
  color: var(--second-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color)
}

img {
  max-width: 100%;
  height: auto; 
}

/* ========== REUSABLE CSS CLASSES ========== */
.section {
  padding: 4rem 2rem 4rem 8rem;
  max-height: max-content;
  max-width: 100%;
}

.horizontal__rule {
  width: 100%;
  height: 1px;
  background-color: #555;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}


/* Keyframes */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }

}

@keyframes shake {
  0% { transform: translateX(0); } /* Start at the original position */
  25% { transform: translateX(-.5px) rotate(2deg); } /* Move left and rotate slightly */
  50% { transform: translateX(.5px) rotate(-2deg); } /* Move right and rotate slightly */
  75% { transform: translateX(-.5px) rotate(2deg); } /* Move left and rotate slightly */
  100% { transform: translateX(0); } /* Return to the original position */
}

@keyframes fadeInOut {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* ========== LAYOUT ========== */
header {
  padding: 2rem 8rem 1rem 8rem;
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
  /* position: fixed; */
}

.purple__lens__flare {
  width: 45%;
  height: 95%;
  opacity: 0.3;
  transform: rotate(90deg);
  z-index: -2;
}

.purple__lens__flare:first-of-type {
  position: absolute;
  top: -12rem;
  left: 8rem;
}

/* somehow using nth  of type for the purple__lens__flare class don't seem to work */

.second__flare {
  position: absolute;
  top: 2rem; 
  right: 14rem;
  z-index: -5;
}

.matrix {
  width: 50%;
  height: 45%;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  top: 15rem;
  right: 2rem;
}

/* ========== NAV ========== */
.home {
  height: 110vh;
}

.nav__logo {
  float: left;
}

.nav__menu {
  float: right;
}

.nav__item {
  display: inline-block;
  margin-left: 3rem;
}

.nav__link {
  padding-bottom: .5rem;
  border-radius: .25rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom .5s;
}

.nav__link:hover {
  border-bottom: 2px solid var(--first-color);
}

/* ========== HOME ========== */
.hero__left {
  float: left;
}

.hero__right {
  float: right;
}

.hero__img {
  width: 45%;
  height: auto;
  position: absolute;
  top: 12rem;
  right: .5rem;
  z-index: 1;
  filter: grayscale(100%);
}

.title__img {
  width: 90%;
  height: auto;
}

.hero__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  font-style: italic;
  position: absolute;
  top: 6.5rem;
  right: 5rem;
}

.underline__vector {
  width: 14%;
  position: absolute;
  top: 8.2rem;
  right: 5rem;
}

.hero__text {
  font-size: var(--hero-text-font-size);
  line-height: 2rem;
}

.hero__btn {
  margin-top: 2.5rem;
}

.blue__img__effect {
  width: 41%;
  height: auto;
  z-index: 10;
  position: absolute;
  top: 10rem;
  right: 2.5rem;
  opacity: .75;
  filter: hue-rotate(355deg); /* i'm just learning bout this filter property today */
  animation: rotate 100s linear infinite;  /* rotate blue image */
  
}

.countdown {
  font-size: var(--timer-font-size);
  justify-content: center;
  margin-top: 4rem;
}

.timer {
  display: flex;
}

.timer__text {
  border-radius: 5px;
  font-family: var(--timer-font);
  margin-left: 1rem;
}

.timer__unit {
  font-size: var(--small-font-size);
}

/* ========== BUTTONS ========== */
.btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: var(--font-medium);
  background: var(--linear-gradient);
  border-radius: .125rem;
  transition: background 1s;
}

.btn:hover {
  background: var(--first-color);
}

/* ========== INTRODUCTION ========== */
.introduction {
  height: 100vh;
  padding: 3rem 5rem;
  grid-template-columns: 1fr 1fr;
}

.intro__img__container {
  width : 75%;
}

.intro__img {
  width: 100%;
  margin: 2rem 7rem;
  animation: shake 5s ease-in-out;
  animation-iteration-count: infinite; 
  animation-delay: 10s;
}

.intro__img__star {
  position: relative;
  top: -30rem;
  right: 2rem;
}

.arrow__svg {
  position: relative;
  left: 33rem;
  top: -5.5rem;
}

.intro__text__container {
  padding: 8rem .5rem 8rem 6rem;
}

.introduction__title {
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  margin: 2rem 0;
}

.introduction__description {
  line-height: 1.7rem;
}

.intro__text__star {
  position: relative;
  top: -14rem;
  left: 25rem;
}

/* ========== RULES ========== */
.rules {
  height: 100vh;
  padding: 1rem 5rem;
  grid-template-columns: 1fr 1fr; 
}

.rules__img__container {
  width: 95%;
}

.rules__img {
  width: 100%;
  margin: 1rem 5rem;
}

.rules__img__star {
  position: absolute;
  top: 110rem;
  right: 37rem;
  animation: fadeInOut 10s ease-in-out infinite;
  animation-delay: 5s;
}

.rules__text__container {
  padding: 8rem 2rem 4rem 7rem;
}

.rules__title {
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  margin: 2rem 0;
}

.rules__description {
  line-height: 1.7rem;
}

.rules__text__star {
  position: absolute;
  top: 94rem;
  left: 25rem;
  animation: fadeInOut 10s ease-in-out infinite;
}

.third__flare {
  position: absolute;
  top: 65rem;
  left: 4rem;
  height: 90%;
  width: 50%;
  z-index: -10;
}

.forth__flare {
  position: absolute;
  top: 95rem;
  right: -15rem;
  height: 40%;
  width: 40%;
  z-index: -10;
}

/* ========== CRITERIA ========== */
.criteria {
  height: 100vh;
  padding: 4rem 3rem 1rem 4rem;
  grid-template-columns: 1fr 1fr; 
}

.criteria__img__container {
  width: 97%;
}

.gradient__blob {
  width: 8rem;
  height: 8rem;
  background: var(--linear-gradient);
  position: absolute;
  top: 131rem;
  left: 10rem;
  z-index: -10;
  border-radius: 50%;
  background-size: 300% 200%;
  animation: moveGradient 20s linear infinite;
}

.criteria__img {
  width: 100%;
  margin: 8rem 2rem 1rem 1rem;
}

.criteria__img__star1 {
  position: absolute;
  top: 127rem;
  left: 14rem;
}

.criteria__img__star2 {
  position: absolute;
  top: 147rem;
  left: 26rem;
  width: 1.2%;
}

.criteria__img__star3 {
  position: absolute;
  top: 159rem;
  left: 39rem;
  width: 1.5%;
}

.criteria__text__container {
  padding: 0 2rem 0 7rem;
}

.criteria__title {
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  margin-bottom: 2rem;
}

.criteria__description {
  line-height: 1.5rem;
  padding-top: .7rem;
  font-size: var(--small-font-size);
}

.criteria__subheading {
  font-weight: var(--font-bold);
}

.criteria__btn {
  margin-top: 2rem;
}

.criteria__text__star {
  position: absolute;
  top: 94rem;
  left: 25rem;
  animation: fadeInOut 10s ease-in-out infinite;
}

.fifth__flare {
  position: absolute;
  top: 130rem;
  left: -7rem;
}
